html {
  scroll-behavior: smooth;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 5;
}

@font-face {
  font-family: 'Savoye LET Plain';
  font-style: normal;
  font-weight: normal;
  src: url('./fontfile/Savoye\ LET\ Plain1.0.woff') format('woff');
}

@font-face {
  font-family: petit;
  src: url(./fontfile/petitformalscript-regular-webfont.woff) format('woff2'),
    url(./fontfile/petitformalscript-regular-webfont.woff2) format('woff')
}


.nav-container {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  position: absolute;
}


.logo {
  width: 100px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 90%;
  height: auto;
}

.nav-box {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}



.nav-box ul {
  list-style: none;
  display: flex;
  padding: 10px 0px 0px 0px;
  padding-inline-start: 0px;
}

.nav-box li {
  margin: auto 15px auto 15px;
  font-weight: inherit;
  color: white;
  font-size: 25px;
  font-family: 'Charmonman', cursive;
}

.nav-box li:hover {
  border-bottom: 1px solid rgb(187, 184, 184);
  color: rgba(0, 0, 0, 0.452);
}

.nav-box ul a:nth-child(1) {
  border-left: none;
}

.nav-box a {
  text-decoration: none !important;
  line-height: 0.8;
}

/*  open side menu  */

.open-burger {
  display: none;
}

.close-burger {
  border: none;
  background-color: unset;
  width: 40px;
  height: 40px;
  font-size: 25px;
  font-weight: 800;
  color: white;
}

@media(max-width:768px) {

  .nav-box ul {
    display: none;
  }

  .open-burger {
    display: block;
    border: none;
    background-color: unset;
    width: 40px;
    height: 40px;
    font-size: 25px;
    font-weight: 800;
    margin: 0px 0px 0px auto;
    color: white;
  }
}


/* side nav */

.side-container {
  width: 55%;
  height: 100%;
  position: fixed;
  top: 0px;
  background-color: black;
  display: none;
}

@media(max-width:768px) {
  .side-container {
    display: block;
  }
}

.side-container ul {
  margin: 30px auto auto 10px;
  list-style: none;
  padding-left: 0px;
}

.side-container li {
  margin: auto 15px auto 15px;
  font-weight: inherit;
  color: white !important;
  font-family: 'Charmonman', cursive;
  font-size: 25px;
}


.side-container a {
  border-left: none !important;
  text-decoration: none !important;
}


/* header-container */

.header-container {
  background-color: rgba(29, 24, 24, 0.39);
  background-image: url('../src/image/bgimage.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container::after {
  background-color: rgba(29, 24, 24, 0.39);
  content: '';
  display: block;
  height: 400px;
  position: absolute;
  width: 100%;
}

.header-container img {
  width: 100%;
  height: 400px;
  position: absolute;
  z-index: -1;
}

.Sevin {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.39);
  z-index: 2
}



.Sevin img {
  width: 10%;
  height: auto;
}

@media(max-width:2350px) and (min-width:1800px) {
  .Sevin img {
    width: 5%;
    height: auto;
  }
}

@media (max-width: 1800px) {
  .Sevin img {
    width: 7%;
    height: auto;
  }
}

@media(max-width: 1400px) {
  .Sevin img {
    width: 10%;
    height: auto;
  }
}

@media(max-width:768px) {
  .Sevin img {
    width: 15%;
  }
}

@media(max-width:567px) {
  .Sevin img {
    width: 20%;
  }

  .Sevin {
    width: 180px;
    height: 180px;
  }
}


/* devetname */

.devetname {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
}

.devetname h1 {
  font-family: 'Charmonman', cursive;
  font-weight: 600;
}

/* invition-box  */

.invition-box {
  height: auto;
  margin-top: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0px 10px 0px;
}

@media(min-width:1199px) and (max-width:2300px) {
  .invition-box:hover {
    border: 1px solid #8D7AAA;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background-color: #F5EBFC;
  }

  .invition-box:hover .child-box {
    box-shadow: none !important;
  }

  .invition-box:hover .invitation-img-box img {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }

  .invition-box:hover .invitation-img-box img {
    width: 100%;
    height: auto;
    border: 1px solid #d1c6d8;
  }

  .invition-box:hover .invitation-text-box p {
    display: none;
  }

  .invition-box:hover .invitation-text-box button {
    background-color: #FFFFFF;
    color: black;
    border: 1px solid #d1c6d8;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
}

.invition-box>div {
  height: 360px;
  width: 80%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}



.invitation-img-box {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.invitation-img-box img {
  width: 80%;
  height: 100%;
}


.invitation-text-box {
  width: 100%;
  height: auto;
  padding-top: 20px;
  text-align: center;
}



.invitation-text-box p:nth-child(2) {
  font-size: 12px;
}


.invitation-text-box button {
  width: 35%;
  background-color: black;
  color: white;
  border: none;
  border-radius: 20px;
  margin-top: 20px;
  /* box-shadow: 0 0 20px #979999, 0 0 50px #979999, 0 0 90px #979999; */
}

.invitation-text-box p {
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
  font-weight: 800;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

@media(max-width:2300px) {
  .invition-box>div {
    height: 450px;
  }
}

@media(max-width:1800px) {
  .invition-box>div {
    height: 430px;
  }
}

@media(max-width:1400px) {


  .invition-box>div {
    height: 450px;
  }
}

@media(max-width:1199px) {

  .invition-box>div {
    width: 90%;
  }
}

@media(max-width:991px) {
  .invitation-text-box button {
    width: 45%;
  }



  .invition-box>div {
    height: 320px;
  }

  .invitation-text-box p {
    font-size: 25px;
  }
}


@media(max-width:768px) {

  .invition-box>div {
    height: 370px;
  }

  .invitation-img-box img {
    width: 95%;
  }

  .invitation-text-box button {
    width: 40%;
  }

  .invitation-text-box p {
    font-size: 30px;
  }
}

@media(max-width:576px) {

  .invition-box>div {
    height: 500px;
  }

  .invitation-img-box img {
    width: 75%;
  }

  .invitation-text-box button {
    width: 25%;
  }
}

@media(max-width:500px) {
  .invitation-img-box img {
    width: 80%;
  }

  .text-box button {
    width: 20%;
  }
}

@media(max-width:450px) {

  .invitation-img-box img {
    width: 95%;
  }


}

@media(max-width:400px) {
  .invition-box>div {
    height: 500px;
  }

  .invitation-img-box img {
    width: 100%;
  }
}

@media(max-width:360px) {
  .invition-box>div {
    height: 460px;
  }
}



/* invition-container  */

.invition-container .text-box>div {
  height: 40px;
}

.invition-container .text-box>div form {
  display: flex;
}

label {
  margin: 2px auto 2px auto;
}

label input {
  margin: 5px;
}

select {
  margin: auto auto 0px 0px;
  border: none;
  background-color: transparent;
}

.invition-container {
  display: none;
  margin: 0% auto 0% auto;
  position: fixed;
  overflow-y: auto;
  top: 0%;
  left: 0;
  right: 0;
  /* bottom: 50%; */
  width: 100%;
  height: 100%;
  background: #c5c1c10a;
  z-index: 4;
}



/* .test {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1060;
  display: none;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
} */

@media(max-width:1800px) {
  .invition-container {
    padding: 20px;
  }
}

@media(max-width:1400px) {
  .invition-container {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0);
  }
}

.close {
  border: none !important;
  background-color: unset;
  position: absolute;
  right: 10px;
  top: 3px;
}

@media(max-width:1800px) {
  .close span {
    font-size: 25px;
  }
}

@media(max-width:1400px) {
  .close span {
    font-size: 20px;
  }
}

@media(max-width:700px) {
  .close {
    right: 5px;
    top: 0px;
  }
}

@media(max-width:500px) {
  .close {
    right: 3px;
    top: 0px;
  }
}

.invition-border {
  border: 5px solid white;
  padding: 5px;
  margin: 5% auto auto auto;
  width: 70%;
  /* background: #c5c1c10a; */
  z-index: 4;
  position: relative;
}

.invition-container-box {
  display: flex;
  align-items: center;
  background-color: #DBDBDB;
  height: 80%;
  /* background: #c5c1c10a; */
  z-index: 4;
}


.invition-container .img-box {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #EDE6F2;
}

.invition-container .img-box img {
  width: 90%;
  height: auto;
  margin: 20px auto 0px auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}



.invition-container .text-box {
  width: 50%;
  height: 80%;
  text-align: left;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.invition-container .text-box h2 {
  font-family: 'Dancing Script', cursive;
  margin: 0px auto 20px 0px;
  font-weight: bold;
}

.invition-container .text-box p {
  font-size: 20px;
  margin-bottom: 20px;
}

.invition-container-box .text-box div:nth-child(1) {
  width: 100%;
  height: auto;
  border-bottom: 1px solid black;
}

.invition-container-box .text-box div:nth-child(1) p:nth-of-type(2) {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0px 10px 0px
}

.invition-container-box .text-box div:nth-child(2) {
  width: 100%;
  height: auto;
  display: flex;
}




.btn {
  font-family: 'Dancing Script', cursive;
  width: 190px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background: #FFFFFF;
  font-size: larger;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  color: black;
  margin: 15px auto 15px auto;
  position: relative;
  overflow: hidden;
}

.btn span {
  position: absolute;
}

.btn span:nth-child(1) {
  top: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #201919);
  animation: spanLightOne 4s infinite;
}

@keyframes spanLightOne {
  from {
    left: -100%
  }

  to {
    left: 100%;
  }
}

.btn span:nth-child(2) {
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #201919);
  animation: spanLightTwo 4s infinite;
}

@keyframes spanLightTwo {
  from {
    top: -100%;
  }

  to {
    top: 100%;
  }
}

.btn span:nth-child(3) {
  bottom: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #201919);
  animation: spanLightThree 4s infinite;
}

@keyframes spanLightThree {
  from {
    right: -100%;
  }

  to {
    right: 100%;
  }
}

.btn span:nth-child(4) {
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #201919);
  animation: spanLightFour 4s infinite;
}

@keyframes spanLightFour {
  from {
    bottom: -100%;
  }

  to {
    bottom: 100%;
  }
}





/* invition-container responsive */

@media(max-width:1199px) {

  .invition-container .text-box h2 {
    margin: 0px auto 20px 0px;
    font-size: 40px;
  }

  .invition-container .text-box p {
    font-size: 25px;
    margin-bottom: 0px;
  }



  .invition-container .img-box {
    margin-top: 10px;
    width: 80%;
  }

  .invition-container .text-box {
    width: 90%;
    height: 80%;
    padding: 15px;
  }
}

@media(max-width:991px) {
  .invition-container .img-box {
    width: 65%;
  }

  .invition-container .text-box h2 {

    margin: 0px auto 5px 0px;
  }

  .invition-container .text-box p {
    margin-top: 6px;
    font-size: 18px;
  }



  .invition-container-box {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media(max-width:768px) {
  .invition-container .img-box {
    width: 90%;
    height: 65%;
  }

  .invition-container .img-box img {
    margin-top: 20px;
  }

  .btn {
    height: 50px;
  }

  .invition-border {
    width: 90%;
  }
}

@media(max-width:600px) {

  .invition-container .text-box p {
    font-size: 18px;
  }


  .btn {
    width: 140px;
    height: 40px;
    font-size: 15px;
    font-weight: 700;
  }
}

@media(max-width:576px) {
  .img-box img {
    width: 40%;
  }
}

@media(max-width:500px) {
  .invition-container .text-box {
    width: 90%;
    height: 30%;
    padding: 15px;
  }

  .invition-container .img-box img {
    width: 85%;
  }

  .invition-container .img-box {
    width: 90%;
    height: 60%;
  }

  .invition-container .text-box h2 {
    font-size: 30px;
    margin: 0px auto 0px 0px;
  }

  .img-box img {
    width: 50%;
  }
}

@media(max-width:400px) {
  .invition-container .text-box>div {
    height: 80px;
  }

  .invition-container .text-box>div form {
    flex-direction: column;
  }

  label {
    margin: 2px auto 2px 0px;
  }

  .img-box img {
    width: 60%;
  }

  .invition-container .img-box {
    margin-top: 20px;
    width: 100%;
  }

  .invition-container .text-box h2 {
    margin: 0px auto;
  }

  .invition-container .text-box p {
    font-size: 17px;
    margin-bottom: 5px;
  }



  label input {
    margin: 0px 5px 0px 0px;
  }
}




/* About */

.about-section {
  height: auto;
  width: 100%;
  text-align: center;
}

.about-section h2 {
  font-family: 'mySecondFont';
}

.about-section p {
  font-family: 'mySecondFont';
  font-size: 23px;
}

@media(max-width:768px) {
  .about-section {
    height: auto;
  }
}


/* footer-container */

.footer-container {
  height: 200px;
  background-color: black;
}

.contact {
  text-align: left;
}

.contact span img {
  width: 2%;
  height: auto;
}

@media(max-width:1199px) {
  .contact span img {
    width: 4%;
  }
}

@media(max-width:567px) {
  .contact span img {
    width: 6%;
  }
}


.contact p:nth-of-type(1) {
  border-bottom: 1px solid white;
  width: 10%;
  margin-bottom: 20px;
}


.contact p {
  color: aliceblue;
  font-size: 20px;
  font-weight: 600;
  font-family: 'mySecondFont';
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin: 5px 0px 5px 0px;
}

/* Invitation  */

body {
  padding: 0px;
  margin: 0px;
}


.invitation-page {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  position: relative;
}

.invitation-page>img {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.front {
  margin: 20px auto 20px auto;
  width: 70%;
  height: auto;
}

.front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}





@media(max-width:1199px) {
  .map {
    bottom: 20px;
  }

  .contact img {
    width: 35%;
  }
}

@media (max-width:1024px) {
  .content {
    height: 140vh;
  }

  .front {
    margin: 100px auto 100px auto;
    width: 80%;
  }




  .contact img {
    width: 45%;
  }
}

@media (max-width:991px) {
  .content {
    height: 140vh;
  }


  .front {
    margin: 60px auto 60px auto;
    width: 70%;
  }




}

@media (max-width:768px) {
  .content {
    height: 140vh;
  }

  .front {
    margin: 30px auto 30px auto;
    width: 70%;
  }



  .contact img {
    width: 55%;
  }
}

@media (max-width:650px) {
  .content {
    height: 140vh;
  }

  .front {
    margin: 50px auto 50px auto;
    width: 75%;
  }


  .contact img {
    width: 65%;
  }
}

@media (max-width:500px) {

  .front {
    margin: 65px auto 65px auto;
    width: 80%;
  }
}

@media (max-width:450px) {

  .front {
    margin: 70px auto 70px auto;
    width: 85%;
  }

  .contact img {
    width: 75%;
  }
}

@media (max-width:420px) {

  .front {
    margin: 85px auto 85px auto;
    width: 85%;
  }
}

@media (max-width:400px) {

  .front {
    margin: 90px auto 90px auto;
    width: 90%;
  }
}

@media (max-width:390px) {

  .front {
    margin: 100px auto 100px auto;
  }
}

@media (max-width:375px) {

  .front {
    margin: 120px auto 120px auto;
    width: 95%;
  }
}

@media (max-width:350px) {

  .front {
    margin: 115px auto 115px auto;
  }
}

/* agqara invitation */

.map {
  position: absolute;
  position: relative;
  width: 150px;
  bottom: 130px;
  padding: 5px;
  animation: myLigt 4s infinite;
  animation-timing-function: linear;
  text-align: center;
  overflow: hidden;
  color: white;
  font-size: 18px;
}

/* @keyframes myLigt {
  from {
    box-shadow: 0 0 0px #ffffff, 0 0 0px #ffffff, 0 0 0px #ffffff;
  }

  to {
    box-shadow: 0 0 5px #ffffff, 0 0 5px #ffffff, 0 0 10px #ffffff;
  }
} */

.map span {
  position: absolute;
  display: block;
}

.map span:nth-child(1) {
  top: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #ffffff);
  animation: spanLightOne 4s infinite;
}

@keyframes spanLightOne {
  from {
    left: -100%
  }

  to {
    left: 100%;
  }
}

.map span:nth-child(2) {
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #ffffff);
  animation: spanLightTwo 4s infinite;
}

@keyframes spanLightTwo {
  from {
    top: -100%;
  }

  to {
    top: 100%;
  }
}

.map span:nth-child(3) {
  bottom: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #ffffff);
  animation: spanLightThree 4s infinite;
}

@keyframes spanLightThree {
  from {
    right: -100%;
  }

  to {
    right: 100%;
  }
}

.map span:nth-child(4) {
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #ffffff);
  animation: spanLightFour 4s infinite;
}

@keyframes spanLightFour {
  from {
    bottom: -100%;
  }

  to {
    bottom: 100%;
  }
}

@media(max-width:1199px) {
  .map {
    bottom: 20px;
  }
}

@media (max-width:1024px) {
  .content {
    height: 140vh;
  }

  .front {
    margin: 100px auto 100px auto;
    width: 80%;
  }

  .map {
    width: 150px;
    bottom: 80px;
    text-align: center;
  }

  .map a {
    font-size: 12px;
  }
}